.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background: rgb(126, 32, 163);
    box-shadow: 3px 3px 12px #999, 3px 3px 12px #999;
    text-align: center;
    color: #fff;
    overflow: auto;
}

.navImage {
    width: 30px;
    top: 3px;
    left: 2px;
}

.footerFont {
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    font-weight: 600;
}